{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="box-element product">
                    <strong>{{product.name}}</strong>
                    <a data-product={{product.id}} class="text-decoration-none wish-list" style="float:right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heartt" viewBox="0 0 16 16">
                            <path id="remove-btn-{{product.id}}" style="color:MediumSeaGreen" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            <path id="add-btn-{{product.id}}" style="color:black" d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>

                            {% if product.isInWishlist == "True" %}
                                <script>
                                    console.log("remove-btn: product.name = {{product.name}}   ||  product.isInWishList = '{{product.isInWishlist}}'")
                                    document.getElementById("remove-btn-{{product.id}}").classList.remove("hidden")
                                    document.getElementById("add-btn-{{product.id}}").classList.add("hidden")
                                </script>
                            {% else %}
                                <script>
                                    console.log("add-btn: product.name = {{product.name}}   ||  product.isInWishList = '{{product.isInWishlist}}'")
                                    document.getElementById("remove-btn-{{product.id}}").classList.add("hidden")
                                    document.getElementById("add-btn-{{product.id}}").classList.remove("hidden")
                                </script>
                            {% endif %}
                        </svg>
                    </a>

                    <hr>
            
                    <button data-product={{product.id}} data-action="add"  class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
            
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}