{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    {% if orders|length == 0 %}
        <h1 style="float:center;">No order history found!</h1>
    {% else %}
        {% for order in orders %}
            <div class="box-element">
                <a  class="btn btn-outline-dark pl-5 pr-5" href="{% url 'store' %}">Order Id: <strong>{{order.id}}</strong></a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>{{ order.get_number_of_items }} </strong></h5></th>
                        <th><h5>Total:<strong> ${{order.get_cart_total|floatformat:2}} </strong></h5></th>
                        <th>
                            <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">See Details</a>
                        </th>
                    </tr>
                </table>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}